
<div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
        <ul class="nav nav-secondary">
            <li class="nav-item active">
                <a data-bs-toggle="collapse"
                   href="#dashboard"
                   class="collapsed"
                   aria-expanded="false">
                    <i class="fas fa-home"></i>
                    <p>Dashboard</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="~/Admin/Home/Index">
                                <span class="sub-item">Dashboard 1</span>
                            </a>
                        </li>
                    </ul>
                </div>
            <li class="nav-item">
                <a href="~/Admin/Users/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Users
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/QTVs/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản trị viên
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Loaihangs/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Loại Hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Hanghoas/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Hàng Hoá
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Donhangs/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Dơn Hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Donhangchitiets/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đơn hàng chi tiết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Login/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng Nhập
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Taikhoans/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng kí Tài Khoản
                    </p>
                </a>
            </li>



        </ul>
    </div>
</div>